* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); 
}

::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.page-container {
  padding-bottom: 1.5rem;
}

header .custom-brand-nav {
  font-weight: 700;
}

main {
  max-width: 90vw;
}

section {
  padding-top: 56px;
  margin-top: 1.5rem;
}

.link-header {
  margin: 0 0.2rem;
}

.navbar-toggler {
  display: none;
  padding: 4px 8px;
}

.section-title {
  text-align: center;
  margin: 1rem 0;
}

.section-title span {
  font-weight: 500;
  font-size: 1.2rem;
}

.custom-page-container {
  padding-bottom: 1rem;
}

.custom-carousel {
  max-height: 60vh;
  overflow: hidden;
}

.custom-carousel-item {
  max-height: 60vh;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  gap: 1rem;
  height: 100%;
}

.img-container img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 6px;
}

.custom-card {
  overflow-y: scroll;
  max-height: 600px;
}

.custom-card::-webkit-scrollbar {
  width: 0.5rem;
}

.custom-card::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); 
  border-radius: 0.5rem;
}

.custom-card::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgb(85, 85, 85);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.custom-card-container {
  padding-bottom: 1rem;
  max-height: 600px;
  overflow-y: hidden;
}

.custom-chars-grid {
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  width: 100%;
  gap: 1.5rem;
}

.custom-modal {
  min-width: 40vw;
}

.char-description {
  text-align: justify;
}

.char-img {
  border-radius: 4px 4px 0 0;
  margin-bottom: 1rem;
}

.custom-card-img {
  height: 300px;
  object-fit: cover;
}

.img-container img, .char-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.page-footer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6vh;
  background-color: rgba(var(--bs-dark-rgb));
  color: white;
}

@media(max-width: 500px) {
  header .link-header {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }
}